body {
    margin: 0;
    background-image: "assets/background-black.png";
}

img {
    width: 100%;
}

#grade {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("assets/background-black.png");
}

#grade div {
    width: 28px;
    height: 22px;
    position: relative;
    
    
}

.ship {
    background: url("assets/spaceship.png") no-repeat;
    background-size: contain;
}

.ennemy {
    background: url("assets/ennemies.png") no-repeat;
    background-size: contain;
}

.tir {
    background: url("assets/shoot.png") no-repeat;
    background-size: contain;
}

.boom {
    background: url("assets/boom.gif") no-repeat;
    background-size: contain;
}