body {

    background-color: rgb(223, 73, 223);
}

img {
    width: 100%;
}

#grade {
    width: 690px;
    height: 690px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("assets/background-black.png");
    animation: background-defile 2s linear infinite;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

#grade div {
    width: 43px;
    height: 30px;
    position: relative;
    
    
}

.ship {
    background: url("assets/spaceship.png") no-repeat;
    background-size: contain;
}

.ennemy {
    background: url("assets/ennemies.png") no-repeat;
    background-size: contain;
}

.tir {
    background: url("assets/shoot.png") no-repeat;
    background-size: contain;
}

.tirEnnemy {
    background: url("assets/shoot_ennemy.png") no-repeat;
    background-size: contain;
}

.boom {
    background: url("assets/boom.gif") no-repeat;
    background-size: contain;
}